// Place all the styles related to the lyrics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.backgroundpage {position: absolute; top: 0; left: 0; width: 100%; height: 100%; margin: 0; padding: 0;}
.headerpage {position: fixed; width: 15%; top: 0; left: 0; z-index:1000;}
.headerleft	{position: absolute; top: 10px; left: 10px; font-size: 24px; color: #000; font-weight: 700; font-family: "diavlo",sans-serif;}
.headerright {position: absolute; top: 10px; right: 10px; font-size: 24px; color: #000; font-weight: 700; font-family: "diavlo",sans-serif;}
.headerright2 {position: absolute; top: 10px; right: 10px; font-size: 24px; color: #000; font-weight: 700; font-family: "diavlo",sans-serif;}
.header1 {color: #000; position:absolute; z-index: 2000;}
.header2 {color: #fff; position: absolute; margin-left:35px; z-index: 1500;}
.backgroundcolor {position: relative; width: 100%; height: auto; padding: 0 0 100px 0; background-color:rgba(231,76,60,1);}
.centerpage {position: relative; background-color:rgba(231,76,60,0); width: 100%; margin: 0; padding: 25px 0; height: auto;}
.versepage {font-family: "futura-pt",sans-serif; width: 100%; font-size: 30px; line-height: 36px; font-weight: 700; color: #fff; text-align: center; padding: 100px 0 0 0;}
.versepage i {font-size: 60px; margin: 20px 0; text-align: center; width: 100%; color: #fff;}
.centerpage ul {margin: 0; padding: 0;}
.headerimage {width:100%; position: relative;}
.popover-content img {width: 100%; position: relative;}
.rightmenu.revealed ul li a {color: #fff; text-decoration: none;}
.rightmenu.revealed ul li a:hover {color: #e74c3c; text-decoration: none;}
.rightmenu.revealed ul li.curatorlist a.pop .popover {min-width: 100px !important; width: 70%; position: absolute;}
.ccevanslogo {position: absolute; bottom:0; left: 0; width: 40%; margin: 0 30%;}
.ccevanslogo:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: .8;
}

.footerpage {position: fixed; width: 100%; bottom: 0; left: 0; z-index: 1000; height: auto; background-color: rgba(255,255,255, .95);}
.footerpage ul {position: relative; width: 30%; text-align: center; list-style-type: none; margin: 0 35%; padding: 0;}
.footerpage ul li {float: left; width: 16%; margin: 2px 2%; cursor: pointer;}
.footerimage {float: left; width: 100%;}

.infopage {position: relative; width: 100%; margin: 10px 0; padding: 0; font-weight: 400; 
    transition: all 1s ease 0s;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
}
.audiopage {background-color:rgba(0,0,0,.5); width: 100%; position: relative; margin: 0 0 0 0; overflow: hidden; padding: 0; height: 0; 
    transition: all 1s ease 0s;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
}
.songbutton {cursor: pointer;}
.pageimage {position: relative; width: 30%; margin: 0 35%; }

body.noscroll {
    overflow: hidden;
    position: relative;
}

.nodisplay {display: none !important;}
.growdiv {height: 450px; margin: 0;}


.gradient {
	background-color:rgba(231,76,60,1); 
	background-image: linear-gradient(#e74c3c, #c0392b, #8e44ad, #2980b9, #16a085);
	background-image:-webkit-gradient(linear, from(#e74c3c), to(#16a085));
	background-image:-webkit-linear-gradient(#e74c3c, #c0392b, #8e44ad, #2980b9, #16a085);
	background-image:-moz-linear-gradient(#e74c3c, #c0392b, #8e44ad, #2980b9, #16a085);
	background-image:-o-linear-gradient(#e74c3c, #c0392b, #8e44ad, #2980b9, #16a085);
}

.rightmenu {width: 25%; margin: 0; padding: 0; font-size: 30px; font-family: "futura-pt",sans-serif; font-weight: 400; color: #fff; background-color: rgba(0, 0, 0, .80); overflow-y: scroll; height: 100%; list-style: none; position: fixed; top: 0; right: 0; z-index: 5000; max-width: 350px; 
    transition: all 300ms ease 0s;  
    -webkit-transition: all 300ms ease 0s;  
    -moz-transition: all 300ms ease 0s;  
    -o-transition: all 300ms ease 0s;  
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform:    translateX(100%);
    -ms-transform:     translateX(100%);
    -o-transform:      translateX(100%);
}

.rightmenu.revealed {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform:    translateX(0%);
    -ms-transform:     translateX(0%);
    -o-transform:      translateX(0%);
}

.rightmenu ul {list-style-type: none; width: 100%; margin: 25px 0;}
.rightmenu ul li {width: 100%; height: auto; padding: 0;}
.rightmenu ul li:hover {color: #e74c3c;}

#plusbutton {position: fixed; top: 40%; right: 30px; cursor: pointer; font-size: 20px; color: #fff; z-index: 1000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: .8;
}
#plusbutton:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
.overlay {cursor: pointer; position: fixed; background-color: rgba(0,0,0,.6); bottom: 0; left: 0; top: 0; right: 0; z-index: 4000; opacity: 1;
    transition: opacity .25s linear 0s;
    -webkit-transition: opacity .25s linear 0s; 
    -moz-transition: opacity .25s linear 0s;  
    -o-transition: opacity .25s linear 0s;
}
.overlay.revealed {cursor: pointer; position: fixed; background-color: rgba(0,0,0,.6); bottom: 0; left: 0; top: 0; right: 0; z-index: 4000; opacity: 1;
    transition: opacity .25s linear 0s;
    -webkit-transition: opacity .25s linear 0s; 
    -moz-transition: opacity .25s linear 0s;  
    -o-transition: opacity .25s linear 0s;
}

#infinite-scrolling {position: relative; width: 100px; margin: 0 auto;}
.pagination ul {display: none;}

// form css

form.simple_forml.contact {width: 50%; margin: 0 25%; font-family: 'Century Gothic', Sans-Serif;}
form.simple_form.contact div.input {border: none; margin: 10px 0; background-color: none; width: 100%;}
form.simple_form.contact div.input label {display: none; min-width: 20%; color: #fff; font-family: 'Century Gothic', Sans-Serif; font-weight: 700; font-size: 36px; line-height: 36px;}
form.simple_form.contact div.input input {margin: 15px 0; font-family: 'Century Gothic', Sans-Serif; width: 100%; background-color: rgba(0,113,152,0); border: none; border-bottom: 2px solid #fff; font-size: 36px; line-height: 36px; color: #fff;}
form.simple_form.contact div.input label.required abbr {display: none;}
form.simple_form.contact div.form-group {text-align: center; font-size: 36px; color: #fff; font-family: 'Century Gothic', Sans-Serif;}
form.simple_form.contact div.form-group select {border: none; background-color: rgba(0,0,0,0); border-bottom: 2px solid #fff;}
form.simple_form.contact div input.btn.btn.btn-primary {font-size: 24px; border-radius: 0; padding: 10px 20px; background-color: rgba(255, 255, 255, 0); color: #fff; border: 2px solid #fff;
    transition: opacity .25s linear 0s;
    -webkit-transition: opacity .25s linear 0s; 
    -moz-transition: opacity .25s linear 0s;  
    -o-transition: opacity .25s linear 0s;
}
form.simple_form.contact div input.btn.btn.btn-primary:hover {font-size: 24px; border-radius: 0; padding: 10px 20px; background-color: rgba(255, 255, 255, 1); color: #e74c3c; border: 2px solid #fff;}
form.simple_form.contact div.form-group select option {background-color: rbga(0,0,0,0); color: #fff; border: none;}
form.simple_form.contact label.string.required abbr {display: none;}
form.simple_form.contact label.string {font-size: 18px; color: #fff;}

// footer nav
.navfooter {position: relative; float: left; height: auto; width: 100%; margin: 0; padding: 15px 5%; background-color:rgba(232,234,233,1); color: #000;}
.checklist {position: relative; width: 300px; height: 5px; background-color: rgba(0,0,0,1); opacity: 1; overflow: visible; margin: 5px auto;}
.checklist .circletop {background-color: rgba(0,0,0, 1); width: 30px; height: 30px; border-radius: 50%; border: 5px solid rgba(232, 234, 233, 1);}
.contacttoday {position: relative; float: left; color: #000; font-size: 18px; font-weight: 700; margin: 5px 25px;}
#circlelist1 {position: absolute; top: -17.5px; left: -5px;}
#circlelist2 {position: absolute; top: -17.5px; left: 137.5px;}
#circlelist3 {position: absolute; top: -17.5px; right: -5px;}
.sitedesign {position: relative; float: right; color: #000; font-size: 18px; font-weight: 400; margin: 5px 25px;}
.sitedesign a {color: #000;}
.sitedesign a:hover {color: #000; font-weight: 700;}

// hidden form
#wrapperform {z-index: 0; position: fixed; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(231, 76, 60,1.0); margin: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}
#wrapperform.active {z-index: 999; position: fixed; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(231, 76, 60,1.0); margin: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
#hiddenform {position: absolute; background-color: none; z-index: 0; top: 0; left: 25%; width: 50%; height: auto; margin: 100px auto 0 auto;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}
#hiddenform.active {position: absolute; background-color: none; z-index: 1000; top: 0; left: 25%; width: 50%; height: auto; margin: 100px auto 0 auto;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
#wrapperform2 {overflow-y: scroll; z-index: 0; position: fixed; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(215,121,172,.95); margin: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}
#wrapperform2.active {overflow-y: scroll; z-index: 999; position: fixed; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(215,121,172,.95); margin: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
#hiddenform2 {position: absolute; background-color: none; z-index: 0; top: 0; left: 25%; width: 50%; height: auto; margin: 100px auto 100px auto; padding: 0 0 100px 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}
#hiddenform2.active {position: absolute; background-color: none; z-index: 1000; top: 0; left: 25%; width: 50%; height: auto; margin: 100px auto 100px auto; padding: 0 0 100px 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
#wrapperform3 {overflow-y: scroll; z-index: 0; position: fixed; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(0,0,0,.95); margin: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}
#wrapperform3.active {overflow-y: scroll; z-index: 999; position: fixed; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(0,0,0,.95); margin: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
#hiddenform3 {position: absolute; background-color: none; z-index: 0; top: 0; left: 25%; width: 50%; height: auto; margin: 100px auto 100px auto; padding: 0 0 100px 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}
#hiddenform3.active {position: absolute; background-color: none; z-index: 1000; top: 0; left: 25%; width: 50%; height: auto; margin: 100px auto 100px auto; padding: 0 0 100px 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

#hiddenform2 h1 {text-align: center; font-size: 48px; color: #000;}
#hiddenform2 h2 {text-align: center; font-size: 36px; color: #000;}

#hiddenform2 div {width: 100%; position: relative; text-align: center;}
#hiddenform2 div i {font-size: 36px; margin: 10px; color: #000;}
#hiddenform2 div i:hover {font-size: 36px; margin: 10px; color: #fff;}

// closed button 
#sitemenu-icon {display: none;}
#sitemenu-icon.active {
	background-color: transparent;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    position: fixed;
    right: 40px;
    top: 40px;
    width: 32px;
    z-index: 10000;
}

#sitemenu-icon span {
    background: #eaeaea none repeat scroll 0 0;
    height: 4px;
    position: absolute;
    transition: all 300ms cubic-bezier(0.63, 0.64, 0.3, 1) 0s;
    -webkit-transition: all 300ms cubic-bezier(0.63, 0.64, 0.3, 1) 0s; 
    -moz-transition: all 300ms cubic-bezier(0.63, 0.64, 0.3, 1) 0s;  
    -o-transition: all 300ms cubic-bezier(0.63, 0.64, 0.3, 1) 0s;
    width: 32px;
}
#sitemenu-icon span.line1 {
    top: 0;
}
#sitemenu-icon span.line2 {
    top: 10px;
}
#sitemenu-icon span.line3 {
    top: 20px;
}
#sitemenu-icon.open .line1 {
    top: 12px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform:    rotate(-45deg);
    -ms-transform:     rotate(-45deg);
    -o-transform:      rotate(-45deg);
}
#sitemenu-icon.open .line2 {
    opacity: 0;
}
#sitemenu-icon.open .line3 {
    top: 12px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
}

#partnernow {cursor: pointer;}
#dailyemail {cursor: pointer;}
.infopage a {color: #fff; text-decoration: none; font-size: 18px;}
.infopage a:hover {color: #000; text-decoration: none; font-size: 18px;}
.infopage span {font-size: 18px; line-height: 20px;}
.curatorlist {margin-top: 15px; font-size: 18px; line-height: 20px;}
.curatorbox {color: #fff;}

.footerpage ul li .popover {background-color: rgba(0,0,0,1); color: #fff; min-width: 200px;}
.footerpage ul li .popover.top {margin-top: 12px;}
.footerpage ul li .popover .popover-title {background-color: rgba(0,0,0,1); color: #fff;}
.footerpage ul li .popover .arrow {border-top-color: #000;}
.footerpage ul li .popover.top > .arrow::after {border-top-color: #000 !important;}
.footerpage ul li .popover .popover-content div.adlink {background-color: rgba(255, 255, 255,1); border-radius: 50%; width: 40px; margin: 5px; float: right; padding: 10px; cursor: pointer;}
.footerpage ul li .popover .popover-content div.adlink a {text-align: center; color: #e74c3c; text-decoration: none;}
.footerpage ul li .popover .popover-content div.adlink:hover {background-color: rgba(231, 76, 60,1); border-radius: 50%; width: 40px; margin: 5px; float: right; padding: 10px;}
.footerpage ul li .popover .popover-content div.adlink:hover a {color: #fff; text-decoration: none;}
.footerpage ul li .popover .popover-content div i.fa.fa-times {cursor: pointer;}
.footerpage ul li .popover .popover-content div i.fa.fa-times:hover {cursor: pointer; color: #e74c3c;}

// mobile css
@media screen and (max-width: 640px){
    .headerpage {position: fixed; width: 30%; top: 0; left: 0; z-index:1000;}
    .headerleft {position: absolute; top: 10px; left: 10px; font-size: 18px; color: #000; font-weight: 700; font-family: "diavlo",sans-serif;}
    .headerright {position: absolute; top: 10px; right: 10px; font-size: 18px; color: #000; font-weight: 700; font-family: "diavlo",sans-serif;}
    .headerright2 {position: absolute; top: 10px; right: 10px; font-size: 18px; color: #000; font-weight: 700; font-family: "diavlo",sans-serif;}
    .header1 {color: #000; position:absolute; z-index: 2000;}
    .header2 {color: #fff; position: absolute; margin-left:26px; z-index: 1500;}
    .backgroundcolor {position: relative; width: 100%; height: auto; padding: 0 0 100px 0; background-color:rgba(231,76,60,1);}
    .centerpage {position: relative; background-color:rgba(231,76,60,0); width: 100%; margin: 0; padding: 25px 0; height: auto;}
    .versepage {font-family: "futura-pt",sans-serif; width: 100%; font-size: 14px; line-height: 18px; font-weight: 700; color: #fff; text-align: center; padding: 50px 0 0;}
    .versepage i {font-size: 60px; margin: 10px 0; text-align: center; width: 100%; padding: 0 10%; color: #fff;}
    .centerpage ul {margin: 0; padding: 0;}
    .versepage p {padding: 0 5%; width: 100%;}

    .footerpage {position: fixed; width: 100%; bottom: 0; left: 0; z-index: 1000; height: auto; background-color: rgba(255,255,255, .95);}
    .footerpage ul {position: relative; width: 80%; text-align: center; list-style-type: none; margin: 0 10%; padding: 0;}
    .footerpage ul li {float: left; width: 16%; margin: 2px 2%;}
    .footerimage {float: left; width: 100%;}
    .infopage {position: relative; width: 100%; margin: 10px 0; padding: 0; font-weight: 400; transition: all 1s ease 0s;}
    .audiopage {background-color:rgba(0,0,0,.5); width: 100%; position: relative; margin: 0 0 0 0; overflow: hidden; padding: 0; height: 0; transition: all 1s ease 0s;}
    .songbutton {cursor: pointer;}
    .pageimage {position: relative; width: 30%; margin: 0 35%; }

    body.noscroll {
        overflow: hidden;
        position: relative;
    }

    .nodisplay {display: none;}
    .growdiv {height: 450px; margin: 0;}


    .gradient {
        background-color:rgba(231,76,60,1); 
        background-image: linear-gradient(#e74c3c, #c0392b, #8e44ad, #2980b9, #16a085);
        background-image:-webkit-gradient(linear, from(#e74c3c), to(#16a085));
        background-image:-webkit-linear-gradient(#e74c3c, #c0392b, #8e44ad, #2980b9, #16a085);
        background-image:-moz-linear-gradient(#e74c3c, #c0392b, #8e44ad, #2980b9, #16a085);
        background-image:-o-linear-gradient(#e74c3c, #c0392b, #8e44ad, #2980b9, #16a085);
    }

    .rightmenu {width: 50%; margin: 0; padding: 0; font-size: 18px; font-family: "futura-pt",sans-serif; font-weight: 400; color: #fff; background-color: rgba(0, 0, 0, .80); overflow-y: scroll; height: 100%; list-style: none; position: fixed; top: 0; right: 0; z-index: 5000; transition: all 300ms ease 0s; max-width: 350px; transform: translateX(100%);}
    .rightmenu.revealed {transform: translateX(0%);}
    .rightmenu ul {list-style-type: none; width: 100%; margin: 15px 0; padding: 0 10px 0 0;}
    .rightmenu ul li {width: 100%; height: auto; padding: 0 0 0 10px;}
    .rightmenu ul li:hover {color: #e74c3c;}

    #plusbutton {position: fixed; opacity: .8; top: 40%; right: 2px; cursor: pointer; font-size: 16px; color: #fff; z-index: 1000;}
    #plusbutton:hover {opacity: 1;}
    .overlay {cursor: pointer; position: fixed; background-color: rgba(0,0,0,.6); bottom: 0; left: 0; top: 0; right: 0; transition: opacity .25s linear 0s; z-index: 4000; opacity: 1;}
    .overlay.revealed {cursor: pointer; position: fixed; background-color: rgba(0,0,0,.6); bottom: 0; left: 0; top: 0; right: 0; transition: opacity .25s linear 0s; z-index: 4000; opacity: 1;}

    #infinite-scrolling {position: relative; width: 100px; margin: 0 auto;}
    .pagination ul {display: none;}

    // form css

    form.simple_forml.contact {width: 50%; margin: 0 25%; font-family: 'Century Gothic', Sans-Serif;}
    form.simple_form.contact div.input {border: none; margin: 10px 0; background-color: none; width: 100%;}
    form.simple_form.contact div.input label {display: none; min-width: 20%; color: #fff; font-family: 'Century Gothic', Sans-Serif; font-weight: 700; font-size: 24px; line-height: 24px;}
    form.simple_form.contact div.input input {margin: 15px 0; font-family: 'Century Gothic', Sans-Serif; width: 100%; background-color: rgba(0,113,152,0); border: none; border-bottom: 2px solid #fff; font-size: 24px; line-height: 24px; color: #fff;}
    form.simple_form.contact div.input label.required abbr {display: none;}
    form.simple_form.contact div.form-group {text-align: center; font-size: 18px; color: #fff; font-family: 'Century Gothic', Sans-Serif;}
    form.simple_form.contact div.form-group select {border: none; background-color: rgba(0,0,0,0); border-bottom: 2px solid #fff;}
    form.simple_form.contact div input.btn.btn.btn-primary {font-size: 18px; border-radius: 0; padding: 8px 16px; background-color: rgba(255, 255, 255, 0); color: #fff; border: 2px solid #fff;}
    form.simple_form.contact div input.btn.btn.btn-primary:hover {font-size: 18px; border-radius: 0; padding: 8px 16px; background-color: rgba(255, 255, 255, 1); color: #e74c3c; border: 2px solid #fff;}
    form.simple_form.contact div.form-group select option {background-color: rbga(0,0,0,0); color: #fff; border: none;}

    // footer nav
    .navfooter {position: relative; float: left; height: auto; width: 100%; margin: 0; padding: 15px 5%; background-color:rgba(232,234,233,1); color: #000;}
    .checklist {position: relative; width: 300px; height: 5px; background-color: rgba(0,0,0,1); opacity: 1; overflow: visible; margin: 5px auto;}
    .checklist .circletop {background-color: rgba(0,0,0, 1); width: 30px; height: 30px; border-radius: 50%; border: 5px solid rgba(232, 234, 233, 1);}
    .contacttoday {position: relative; float: left; color: #000; font-size: 18px; font-weight: 700; margin: 5px 25px;}
    #circlelist1 {position: absolute; top: -17.5px; left: -5px;}
    #circlelist2 {position: absolute; top: -17.5px; left: 137.5px;}
    #circlelist3 {position: absolute; top: -17.5px; right: -5px;}
    .sitedesign {position: relative; float: right; color: #000; font-size: 18px; font-weight: 400; margin: 5px 25px;}
    .sitedesign a {color: #000;}
    .sitedesign a:hover {color: #000; font-weight: 700;}

    // hidden form
    #wrapperform {opacity: 0; z-index: 0; position: fixed; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(231, 76, 60,1.0); margin: 0;}
    #wrapperform.active {opacity: 1; z-index: 999; position: fixed; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(231, 76, 60,1.0); margin: 0;}
    #hiddenform {position: absolute; opacity: 0; background-color: none; z-index: 0; top: 0; left: 10%; width: 80%; height: auto; margin: 100px auto 0 auto;}
    #hiddenform.active {position: absolute; opacity: 1; background-color: none; z-index: 1000; top: 0; left: 25%; width: 50%; height: auto; margin: 100px auto 0 auto;}

    #wrapperform2 {overflow-y: scroll; opacity: 0; z-index: 0; position: fixed; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(215,121,172,.95); margin: 0;}
    #wrapperform2.active {overflow-y: scroll; opacity: 1; z-index: 999; position: fixed; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(215,121,172,.95); margin: 0;}
    #hiddenform2 {position: absolute; opacity: 0; background-color: none; z-index: 0; top: 0; left: 10%; width: 80%; height: auto; margin: 100px auto 100px auto; padding: 0 0 100px 0;}
    #hiddenform2.active {position: absolute; opacity: 1; background-color: none; z-index: 1000; top: 0; left: 25%; width: 50%; height: auto; margin: 100px auto 100px auto; padding: 0 0 100px 0;}

    #wrapperform3 {overflow-y: scroll; z-index: 0; position: fixed; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(0,0,0,.95); margin: 0; opacity: 0;}
    #wrapperform3.active {overflow-y: scroll; z-index: 999; position: fixed; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(0,0,0,.95); margin: 0; opacity: 1;}
    #hiddenform3 {position: absolute; background-color: none; z-index: 0; top: 0; left: 25%; width: 50%; height: auto; margin: 100px auto 100px auto; padding: 0 0 100px 0; opacity: 0;}
    #hiddenform3.active {position: absolute; background-color: none; z-index: 1000; top: 0; left: 10%; width: 80%; height: auto; margin: 100px auto 100px auto; padding: 0 0 100px 0; opacity: 1;}

    #hiddenform2 h1 {text-align: center; font-size: 48px; color: #000;}
    #hiddenform2 h2 {text-align: center; font-size: 36px; color: #000;}

    #hiddenform2 div {width: 100%; position: relative; text-align: center;}
    #hiddenform2 div i {font-size: 36px; margin: 10px; color: #000;}
    #hiddenform2 div i:hover {font-size: 36px; margin: 10px; color: #fff;}

    // closed button 
    #sitemenu-icon {display: none;}
    #sitemenu-icon.active {
        background-color: transparent;
        cursor: pointer;
        display: inline-block;
        height: 24px;
        position: fixed;
        right: 40px;
        top: 40px;
        width: 32px;
        z-index: 10000;
    }

    #sitemenu-icon span {
        background: #eaeaea none repeat scroll 0 0;
        height: 4px;
        position: absolute;
        transition: all 300ms cubic-bezier(0.63, 0.64, 0.3, 1) 0s;
        width: 32px;
    }
    #sitemenu-icon span.line1 {
        top: 0;
    }
    #sitemenu-icon span.line2 {
        top: 10px;
    }
    #sitemenu-icon span.line3 {
        top: 20px;
    }
    #sitemenu-icon.open .line1 {
        top: 12px;
        transform: rotate(-45deg);
    }
    #sitemenu-icon.open .line2 {
        opacity: 0;
    }
    #sitemenu-icon.open .line3 {
        top: 12px;
        transform: rotate(45deg);
    }

    #partnernow {cursor: pointer;}
    #dailyemail {cursor: pointer;}
    .infopage a {color: #fff; text-decoration: none; font-size: 18px;}
    .infopage a:hover {color: #000; text-decoration: none; font-size: 18px;}
    .infopage span {font-size: 18px; line-height: 20px;}

    #my-lyrics .centerpage .versepage .audiopage iframe {width: 100% !important;}

}